div {
	background-color: blue;
	width: 100px;
	height: 100px;
	position: fixed;
	background-image: url(https://flic.kr/p/oi1Vou);
}

div:hover {
	background-color: green;
	transition: 1000ms ease;
	-webkit-transition: 1000ms ease;
}

#one {
	top: 0;
	left: 0;
}

#two {
	top: 200px;
	left: 200px;
}
