div {
	background-color: blue;
	width: 100px;
	height: 100px;
	position: fixed;
}

div:hover {
	background-color: green;
	transition: 1000ms ease;
	-webkit-transition: 1000ms ease;
}

#one {
	background-image: url(https://www.flickr.com/gp/13542697@N05/U4A4Ek);
	top: 0;
	left: 0;
}

#two {
	top: 200px;
	left: 200px;
}
